.header_img {
    margin-top: 40px;
}

.oauth {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .login {
        padding: 10px 35px;
        border-radius: 5px;
        border: none;
        background-color: rgb(231, 231, 231);
    }

    .profile {
        display: flex;
        gap: 10px;

        .info_oauth {
            text-align: start;

            span {
                display: block;
                margin-bottom: 15px;
            }

            h3 {
                margin: 0;
            }
        }
    }
}

.search {
    position: relative;
    margin-top: 16px;

    .search-field {
        width: 100%;
        height: 56px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding-left: 40px;
        font-size: 16px;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    
}

@media screen and (max-width: 768px) {
    .header_img {
        width: 312px;
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 24px 20px;
    margin: 50px auto;
}