.card-container {
    width: 100%;
    height: 260px;
    box-shadow: 0px 2px 4px 0px #00000024;
    box-shadow: 0px 3px 4px 0px #0000001F;
    box-shadow: 0px 1px 5px 0px #00000033;
    text-align: left;
    border-radius: 10px;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: #000;
        align-self: flex-start;
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        overflow:hidden;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;

        &:hover {
            text-decoration: underline;
        }
    }

    .image {
        width: 100%;
        height: 168px;
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    h2 {
        margin: 0;
        font-size: 20px;
    }

    .description {
        margin: 10px 16px;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 520px) {
    .card-container {
        width: 100%;
        height: 308px;

        .image {
            height: 230px;
        }
    }
}